/* Ajout de règles CSS personnalisées */

/* Style du texte */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Style de la section À propos de l'association */
#about {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Style de la section Événements à venir */
#events {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Style du pied de page */
footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
}
